<div class="container">
    <div class="row">
      <div class="col">
        <section>
          <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label>Username</label>
                <input type="text"
                       class="form-control"
                       formControlName="username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="text"
                       class="form-control"
                       formControlName="password">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email"
                       class="form-control"
                       formControlName="email">
              </div>
              <div class="form-group">
                <label>Role</label>
                <input type="text"
                       class="form-control"
                       formControlName="role">
              </div>
              <div class="form-group">
                <label>phone</label>
                <input type="text"
                       class="form-control"
                       formControlName="phone">
              </div>
            </fieldset>
   
            <button type="submit" class="btn btn-primary"  [disabled]="!userForm.valid" >Submit</button>
            <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button>
            <pre>{{userForm.value | json}}</pre>
          </form>
        </section>
      </div>
    </div>
  </div>
  