.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.notAvailableMessage {
    margin-top: 25px;
    font-weight: bold;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-column-ComponentName {
    flex: 0 0 45% !important;
    width: 45% !important
}

.mat-column-DateCreated {
    flex: 0 0 45% !important;
    width: 45% !important
}

.mat-column-actions {
    flex: 0 0 10% !important;
    width: 10% !important
}