<div style="margin-top: 20px">
    <h2>Application Components</h2>
    <button mat-fab
        title="Create New Component"
        (click)="openCreateNewComponentView()">
        <mat-icon style="color: white">add</mat-icon>
    </button>
</div> 
<div class="notAvailableMessage" *ngIf="noComponentsAvailableMessage">
    <mat-card>
        There are no components available.
    </mat-card>
</div>
<div *ngIf="!noComponentsAvailableMessage">
    <mat-form-field>
        <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for component ...">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="ComponentName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Component Name</mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="DateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date created</mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.dateCreated}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let comp"> 
                <button mat-icon-button [matMenuTriggerFor]="menu"
                title="More actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item 
                    (click)="openDetailView(comp)">
                        <mat-icon>launch</mat-icon>
                        <span>See Details</span>
                    </button>
                    <button mat-menu-item 
                    (click)="openEditView(comp)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Component</span>
                    </button>
                    <button mat-menu-item
                    (click)="delete(comp)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Component</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 matRipple
                 class="element-row"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
  