<div class="registration-page">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <img src="assets/images/lUnicornLogo.png" width="150px" class="user-avatar" />
            <h1>Registration</h1>
            <form novalidate [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <div class="form-group">
                                <label>Username</label>
                                <input type="text"
                                        class="form-control"
                                        formControlName="username">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                <label>Password</label>
                                <input type="text"
                                            class="form-control"
                                            formControlName="password">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <div class="form-group">
                                <label>Firstname</label>
                                <input type="text"
                                        class="form-control"
                                        formControlName="firstname">
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                <label>Lastname</label>
                                <input type="text"
                                        class="form-control"
                                        formControlName="lastname">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <div class="form-group">
                                <label>E-Mail</label>
                                    <input type="text"
                                            class="form-control"
                                            formControlName="email">
                            </div>
                        </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone</label>
                                <input type="text"
                                        class="form-control"
                                        formControlName="phone">
                        </div>
                    </div>
                </div><br>
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <div class="form-group">
                                <mat-form-field>
                                <mat-select placeholder="Choose your country" formControlName="country">
                                    <mat-option *ngFor="let country of CountryList" [value]="country">
                                        {{country}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary"  [disabled]="!registerForm.valid" >Register</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <br>
    <div>
            If you are already registered, please <button class="btn btn-outline-primary" (click)=goToLoginPage()>Login</button>
    </div>
</div>

