<div>
  <h2>IDS RuleSets</h2>
  <button mat-mini-fab
    title="Create new ruleset"
    (click)="createNewRuleSet()">
      <mat-icon style="color: white">add</mat-icon>
  </button>
</div>
<div>
  <!-- Table applications -->
  <div *ngIf="noIDSRuleSetsAvailable">
    There are no running application instances available.
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for ids rule set ...">
  </mat-form-field>
  <mat-table #table [dataSource]="idsRuleSetDataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created at </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dateCreated}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button [matMenuTriggerFor]="menu"
          title="More actions">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item 
          (click)="openDetailView(element)">
            <mat-icon>launch</mat-icon>
            <span>See details</span>
          </button>
          <button mat-menu-item 
          (click)="openEditView(element)">
            <mat-icon>edit</mat-icon>
            <span>Edit RuleSet</span>
          </button>
          <button mat-menu-item
          (click)="delete(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete RuleSet</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
