.mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px;
    margin-top: -47px;
    color: white;
    position: absolute;
    right: 24px;
}
.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-column-name {
    flex: 0 0 45% !important;
    width: 45% !important
}

.mat-column-dateCreated {
    flex: 0 0 45% !important;
    width: 45% !important
}

.mat-column-actions {
    flex: 0 0 10% !important;
    width: 10% !important
}