<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add new SSHKey</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Enter name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput formControlName="sshkey" placeholder="Enter SSH key">
    </mat-form-field><br>
    <mat-slide-toggle formControlName="isDefault" labelPosition='before'>
      default
    </mat-slide-toggle>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
