<div>
    <h2 class="text-muted" style="margin-top: 20px">
        Application Instances
        <button mat-fab
        title="Create new instance"
        (click)="openNewInstanceDialog()">
        <mat-icon style="color: white">add</mat-icon>
    </button>
    </h2>
</div>
<mat-card style="margin-top: 30px" *ngIf="noAppInstancesAvailable">
<!-- Table applications -->
<div *ngIf="noAppInstancesAvailable">
    There are no running application instances available.
</div>
</mat-card>
<mat-card style="margin-top: 30px">
<mat-table #table [dataSource]="instancesSourceData" matSort class="mat-elevation-z8" >
    <ng-container matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created at </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dateCreated}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastModified">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Modified at </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastModified}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button [matMenuTriggerFor]="menu"
        title="More actions">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
            (click)="openDetailView(element)">
                <mat-icon>launch</mat-icon>
                <span>Open Application Instance Configuration</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='PENDING'"
            (click)="deploy(element)">
                <mat-icon>flight_takeoff</mat-icon>
                <span>Deploy Application Instance</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='PENDING'"
            (click)="delete(element)">
                <mat-icon>delete</mat-icon>
                <span>Delete Application Instance</span>
            </button>
            <button mat-menu-item *ngIf="element.status != 'PENDING'"
            (click)="navigateToLogs(element)">
                <mat-icon>launch</mat-icon>
                <span>Show Logs</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='DEPLOYED'"
            (click)="editElasticityPolicies(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit Elasticity Policies</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='DEPLOYED'"
            (click)="editSecurityPolicies(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit Security Policies</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='DEPLOYED'"
            (click)="editProfiling(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit Profiling</span>
            </button>
            <button mat-menu-item *ngIf="element.status=='DEPLOYED'"
            (click)="goToMonitoringPage(element)">
                <mat-icon>edit</mat-icon>
                <span>See Monitoring Results</span>
            </button>
            <button mat-menu-item *ngIf="element.status != 'PENDING'"
            (click)="undeploy(element)">
                <mat-icon>flight_land</mat-icon>
                <span>Un-Deploy Instance</span>
            </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
