.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-mini-fab{
  background-color: #43425D;
  margin-left: 20px; 
  margin-bottom: 15px;
  color: white;
  position: absolute;
  right: 24px;
}

::ng-deep .mat-input-element {
    font-size: large !important;
    color: lightgray !important;
    margin-top: 8px !important;
  }
  
  ::ng-deep .mat-input-element.nonEditable {
    font-size: large !important;
    color: #43425D !important;
    margin-top: 8px !important;
  }