<div>
    <h2>{{pluginName}} Details</h2>
    <button mat-fab
    title="Edit Plugin"
    (click)="editPlugin()">
      <mat-icon style="color: white">edit</mat-icon>
  </button>
  </div>
  <div style="margin-top: 25px">
    <mat-card>
      <!-- Openstack provider -->
      <mat-card-content>
        <form *ngIf="plugin" [formGroup]="form">
          <div class="row">
            <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Name</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditable}" matInput formControlName="name">
            </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Module Name</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditable}" matInput formControlName="moduleName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Download URL</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditable}" matInput formControlName="downloadUrl">
              </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <mat-placeholder style="color:lightslategray; font-size: 15pt">
                    <p>Plugin Type</p>
                  </mat-placeholder>
                  <input [ngClass]="{nonEditable: nonEditable}" matInput formControlName="pluginType">
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="!nonEditable">
              <div class="col-md-10">
                  <div class="col-md-2">
                      <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
                  </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" mat-stroked-button (click)="saveEdit()">Save</button>
                </div>
            </div>
        </form>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        Metrics
        <button mat-mini-fab
          title="Add Metric"
          (click)="addMetric()">
            <mat-icon style="color: white">add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-table #table [dataSource]="metricDataTable">
          <ng-container matColumnDef="friendlyName">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let elem"> {{elem.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
              <mat-cell *matCellDef="let elem"> {{elem.unit}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="metricColoumnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: metricColoumnsToDisplay;"
                 matRipple
                 class="element-row"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
            
