<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Add user</h1>
    <mat-dialog-content>
      <mat-icon>account_circle</mat-icon>
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Enter username">
      </mat-form-field>
      <br>
      <mat-icon>lock</mat-icon>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Enter password">
      </mat-form-field>
      <br>
      <mat-icon>email</mat-icon>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Enter email address">
      </mat-form-field>
      <br>
      <mat-icon>phone_iphone</mat-icon>
      <mat-form-field>
        <input matInput formControlName="phone" placeholder="Enter phone number">
      </mat-form-field>
      <br>
      <mat-icon>accessibility</mat-icon>
      <mat-form-field>
        <input matInput formControlName="role" placeholder="Enter user role">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Add</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
