<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Do you want to delete SSH Key {{sshKey.friendlyName}}?</h1>
    <mat-dialog-content>
      <mat-slide-toggle formControlName="toDelete" labelPosition='before'>
        Delete?
      </mat-slide-toggle>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Delete</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>