.mat-table {
    width: 100% !important;
}
.mat-row {
    width: 100%;
}
.mat-column-identifier {
    max-width: 100px;
}

::ng-deep .mat-input-element {
    // font-size: large !important;
    color: #43425D !important;
    margin-top: 8px !important;
  }

::ng-deep .mat-form-field-underline {
    display: none;
}

.mat-header-cell {
    font-size: 18px !important;
    color: #0B3861 !important;
}
