<div>
  <h2>Details RuleSet {{ruleSetName}}</h2>
</div>
<mat-card>
  <mat-table #table [dataSource]="idsRuleDataTable">
    <ng-container matColumnDef="identifier" >
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell class="identifier" *matCellDef="let element">
          {{element.ruleID}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field style="width: 100% !important">
            <input matInput value={{element.name}} [disabled]=true>
          </mat-form-field>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</mat-card>
