<form [formGroup]="initialForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Add new resource</h1>
  <div class="row">
    <div class="col-md-6">
    <mat-form-field>
      <mat-placeholder style="color:lightslategray; font-size: 15pt">
        <p>Name</p>
      </mat-placeholder>
      <input matInput formControlName="name">
    </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Resource Type</p>
          </mat-placeholder>
        <mat-select formControlName="resourceType" name="type">
            <mat-option *ngFor="let type of resourceTypes" [value]="type">
                {{ type.friendlyName }}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <button type="submit" mat-stroked-button>Configure new resource</button>
    </div>
    <div class="col-md-4">
      </div>
  </div>
</form>
<br>
<form [formGroup]="form" *ngIf="initFormValid" (ngSubmit)="submit(form)">
  <!-- OPENSTACK provider -->
  <mat-dialog-content *ngIf="providerTypeName == 'OPENSTACK'">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Image ID</p>
          </mat-placeholder>
          <input matInput formControlName="imageID">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Network ID</p>
          </mat-placeholder>
          <input matInput formControlName="networkID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Nexus IP</p>
          </mat-placeholder>
          <input matInput formControlName="nexusIP">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Proxy</p>
          </mat-placeholder>
          <input matInput formControlName="proxy">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Endpoint</p>
          </mat-placeholder>
          <input matInput formControlName="endpoint">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>domain</p>
          </mat-placeholder>
          <input matInput formControlName="domain">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Username</p>
          </mat-placeholder>
          <input matInput formControlName="username">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Password</p>
          </mat-placeholder>
          <input matInput formControlName="password">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Project</p>
          </mat-placeholder>
          <input matInput formControlName="project">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <!-- 5G Provider -->
  <mat-dialog-content *ngIf="providerTypeName == 'FIFTH_GENERATION_TELCO_PROVIDER'">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Image ID</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Network ID</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Nexus IP</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Proxy</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="proxy">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Endpoint</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="endpoint">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Username</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Password</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="password">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <!-- Policy-Defined -->
  <mat-dialog-content *ngIf="(providerTypeName=='POLICY_DEFINED') || (providerTypeName=='USER_DEFINED')">
    <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Image ID</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Network ID</p>
            </mat-placeholder>
            <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Nexus IP</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
          </mat-form-field>
        </div>
      </div>
  </mat-dialog-content>
  <!-- Google Provider -->
  <mat-dialog-content *ngIf="providerTypeName == 'GCC'">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Image ID</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Network ID</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Nexus IP</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Username</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Private Key</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="privateKey">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <!-- iot provider -->
  <mat-dialog-content *ngIf="providerTypeName == 'IOT_GATEWAY'">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Image ID</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Network ID</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Nexus IP</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Endpoint</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="endpoint">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Username</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Password</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="password">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Mesh Identifier</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="meshIdentifier">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <!-- aws -->
  <mat-dialog-content *ngIf="providerTypeName == 'AWS'">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Image ID</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Network ID</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Nexus IP</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Public Key</p>
          </mat-placeholder>
          <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="publicKey">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Private Key</p>
          </mat-placeholder>
          <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="privateKey">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit">Add</button>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
