<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add Application Component</h1>
  <mat-card>
    <mat-card-content>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
      <div class="col-md-6"> 
        <mat-form-field>
          <input matInput formControlName="componentName" placeholder="Component Name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select formControlName="architecture" placeholder="Select Architecture">
            <mat-option *ngFor="let architecture of architectureList" [value]="architecture">
              {{architecture.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select formControlName="elastProfile" placeholder="Select Elasticity Profile">
            <mat-option *ngFor="let elastProf of elasticityProfileList" [value]="elastProf">
              {{elastProf.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6" style="margin-top: 20px">
        <mat-checkbox formControlName="publicComponent" labelPosition='before'>Public Component</mat-checkbox>
      </div>
    </div>
    <br>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <div class="col-md-6"> 
        <mat-form-field>
          <input matInput formControlName="dockerRegistry" placeholder="Docker Registry">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="dockerImage" placeholder="Docker Image">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-checkbox formControlName="dockerCredentialsUsing" labelPosition='before'>Username, password for docker registry</mat-checkbox>
      </div>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="dockerUsername" placeholder="Docker Registry Username">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="dockerPassword" placeholder="Docker Registry Password">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <br>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="vCPUs" placeholder="vCPU">
        </mat-form-field>
      </div>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="ram" placeholder="RAM">
        </mat-form-field>
      </div>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="storage" placeholder="Storage">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select formControlName="hyperVisorType" placeholder="Select Hypervisor Type">
            <mat-option *ngFor="let hyper of hyperVisorList" [value]="hyper">
              {{hyper.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6" style="margin-top: 20px">
        <mat-checkbox formControlName="gpuEnabled" labelPosition='before'>GPU-enabled</mat-checkbox>
      </div>
    </div>
    <br>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <br>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="healthCommand" placeholder="Command">
        </mat-form-field>
      </div>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="healthHttp" placeholder="HTTP">
        </mat-form-field>
      </div>
      <div class="col-md-4"> 
        <mat-form-field>
          <input matInput formControlName="healthTimeInterval" placeholder="Time Interval">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div formArrayName="environmentalVariables">
      <p>Environmental Variables</p>
      <div style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <div *ngFor="let variable of form.controls.environmentalVariables.controls; let i=index">
        <div [formGroupName]="i">
          <div class="row" style="margin-left: 10px; margin-right: 10px;">
            <div class="col-md-5">
              <mat-form-field>
                <mat-placeholder>Key</mat-placeholder>
                <input matInput formControlName="key">
              </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field>
                  <mat-placeholder>Value</mat-placeholder>
                  <input matInput formControlName="value">
                </mat-form-field>
            </div>
            <div class="col-md-1" style="margin-top: 8px">
                <button mat-button
                (click)="addEnvVar()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            <div class="col-md-1" *ngIf="form.controls.environmentalVariables.controls.length > 1" style="margin-top: 8px">
              <button mat-button
              (click)="removeEnvVar(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    <br>
    <p>Exposed Interfaces</p>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <div class="col-md-12">
        <mat-form-field>
          <mat-select formControlName="exposedInterfaces" placeholder="Select existing interfaces" multiple>
            <mat-option *ngFor="let interface of interfaceList" [value]="interface">
              {{interface.name}} (Port: {{interface.port}}, Type: {{interface.interfaceType}}, Protocol: {{interface.transmissionProtocol}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Add new interface</p>
      <div formArrayName="addedExposedInterfaces" style="margin-top: 20px">
        <div *ngFor="let variable of form.controls.addedExposedInterfaces.controls; let i=index">
          <div [formGroupName]="i">
            <div class="row" style="margin-left:-20px">
            <div class="col-md-6" >
              <mat-form-field>
                <mat-placeholder>Name</mat-placeholder>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-md-6" >
                <mat-form-field>
                  <mat-placeholder>Port</mat-placeholder>
                  <input matInput formControlName="port">
                </mat-form-field>
              </div>
            </div>
            <div class="row" style="margin-left:-20px; margin-top: 10px;">
              <div class="col-md-5">
                <mat-select formControlName="interfaceType" placeholder="Select interface type">
                  <mat-option *ngFor="let type of interfaceTypeList" [value]="type.type">
                    {{type.name}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="col-md-5">
                <mat-select formControlName="transmissionProtocol" placeholder="Select transmission protocol">
                  <mat-option *ngFor="let protocol of interfaceProtocolList" [value]="protocol">
                    {{protocol}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="col-md-1" style="margin-top: 8px">
                <button mat-button type="button"
                (click)="addExposedInterface()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col-md-1" *ngIf="form.controls.addedExposedInterfaces.controls.length > 1" style="margin-top: 8px">
                <button mat-button
                (click)="removeExposedInterface(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-raised-button type="submit" >Save</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
