<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/lUnicornLogo.png" width="180px" class="user-avatar" />
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <span *ngIf="f.submitted && !username.valid" class="help-block">Username is required</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password&nbsp;</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <span *ngIf="f.submitted && !password.valid" class="help-block">Password is required</span>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                </div>
                <div *ngIf="error" class="alert alert-error">{{error}}</div>
            </form>
            <div>
                If you are not registered to UNICORN, please visit registration page
                <button class="btn btn-outline-primary" (click)=goToRegistrationPage()>Registration</button>
            </div>
        </div>
    </div>
</div>
