<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Create new elasticity policy</h1>
  <mat-dialog-content>
    <mat-form-field class="input-full-width">
      <input matInput formControlName="name" placeholder="Enter name">
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-md-12">
        <h4>
          Expression
        </h4>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Function" formControlName="selectedFunction" name="function">
              <mat-option *ngFor="let function of functions" [value]="function">
                  {{ function }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Component" formControlName="selectedComponent" name="comp">
              <mat-option *ngFor="let comp of components" [value]="comp">
                  {{ comp.name }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Metric" formControlName="selectedMetric" name="metric">
              <mat-option *ngFor="let metric of metrics" [value]="metric">
                  {{ metric }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Dimension" formControlName="selectedDimension" name="dimension">
              <mat-option *ngFor="let dimension of dimensions" [value]="dimension">
                  {{ dimension }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Select Operand" formControlName="selectedOperant" name="operant">
              <mat-option *ngFor="let operant of operants" [value]="operant">
                  {{ operant }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input matInput formControlName="threshold" placeholder="Enter Threshold">
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input matInput formControlName="period" placeholder="Period">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input matInput formControlName="inertiaTime" placeholder="Inertia Time (Minutes)">
        </mat-form-field>
      </div>
    </div>
    <mat-divider>
    </mat-divider>
    <div class="row">
      <div class="col-md-12">
        <h4>
          Actions
        </h4>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Select Component" formControlName="actionSelectedComponent" name="actionComponent">
                <mat-option *ngFor="let comp of components" [value]="comp">
                    {{ comp.name }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Select Type" formControlName="actionSelectedType" name="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6">
          <mat-form-field>
              <input matInput formControlName="workers" placeholder="Workers">
          </mat-form-field>
        </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit">Add</button>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>