.mat-raised-button, .mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px;
    color: white;
    position: absolute;
    right: 24px;
} 
.demo-chart {
    height: 400px;
}
.mat-button{
    background-color: #43425D;
    margin-left: 40px;
    margin-bottom: 15px;
    right: 1px;
    position: absolute;
} 