<div>
    <h2 class="text-muted">Monitoring Data
      <button mat-mini-fab
      title="Add Widget"
      (click)="openAddNewWidgetDialog()">
        <mat-icon style="color: white">add</mat-icon>
      </button></h2>
 <!-- <button type=button (click)=addCard()> Add Chart </button>
  <button type=button (click)=removeCard()> Remove last chart </button> -->
</div>
<div>
  <mat-grid-list cols=1 gutterSize="10px" rowHeight="500px">
    <mat-grid-tile
      [style.background]="'#F0F0F7'"
      [style.border]="'1px solid #BCBCCB'"
      *ngFor="let card of cards">
      <mat-grid-tile-header
      [style.background]="'#43425D'">
        {{ card.metric }}
        <button mat-button
        title="Delete Widget"
        [matMenuTriggerFor]="editmenu">
          <mat-icon style="color: white">edit</mat-icon>
        </button>
      <mat-menu #editmenu>
        <button mat-menu-item><mat-icon>build</mat-icon>Change Widget</button>
        <button mat-menu-item><mat-icon>cached</mat-icon>Change Chart</button>
        <button mat-menu-item (click)=deleteWidget(card.id)><mat-icon>delete</mat-icon>Delete Widget</button>
      </mat-menu>
      </mat-grid-tile-header>
      <app-cardspawner [card]="card"></app-cardspawner>
    </mat-grid-tile><br>
  </mat-grid-list>
</div>