<nav class="navbar navbar-expand-lg fixed-top">
    <img class="d-flex align-sef-center mr-3"
    src="../../../assets/images/lUnicornLogo.png"
    style="height: 50px">
    <a class="navbar-brand" href="#">UNICORN </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li>
                <button mat-button
                [matMenuTriggerFor]="menu">
                    <mat-icon style="color: white">person</mat-icon> {{actualUser}}
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                    (click)="openProfile()">
                        <mat-icon>person</mat-icon>
                        Profile
                    </button>
                    <button mat-menu-item
                    (click)="openSettings()">
                        <mat-icon>settings</mat-icon>
                        Settings
                    </button>
                    <button mat-menu-item
                    (click)="onLoggedout()">
                        <mat-icon>power_settings_new</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>
