.mat-raised-button, .mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    color: white;
    position: absolute;
    right: 24px;
} 

.unicorn-snackbar{
    background-color: #43425D;
}

.mat-card {
    width: 99.9%;
    height: 70%;
    background-color: #F0F0F7;
    transition: none !important;
    box-shadow: none !important;
}

.material-icons.color_green { color: #00FF00; }

.unicorn-snackbar{
    background-color: #43425D;
}