<div style="margin-top: 10px">
    <h2 class="text-muted">
        UNICORN Dashboard
        <button mat-mini-fab
        title="Edit Dashboard"
        (click)="openEditDashboardDialog()">
            <mat-icon style="color: white">edit</mat-icon>
    </button>
    </h2>
    <mat-card *ngIf="seeNumbers" style="margin-top: 20px">
    <mat-grid-list cols="5" rowHeight="120px" gutterSize="40px">
        <mat-grid-tile
        *ngIf="seeNoAppInstances"
        [style.background]= "'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                Application Instances
            </mat-grid-tile-header>
            <br>
            {{noAppInstances}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoApps"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                All Applications
            </mat-grid-tile-header>
            <br>
            {{noApps}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoPublicApps"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                Public Applications
            </mat-grid-tile-header>
            <br>
            {{noPublicApps}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoPrivateApps"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                Private Applications
            </mat-grid-tile-header>
            <br>
            {{noPrivateApps}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoComponents"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                All Components
            </mat-grid-tile-header>
            <br>
            {{noComponents}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoPublicComponents"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                Public Components
            </mat-grid-tile-header>
            <br>
            {{noPublicComponents}}
        </mat-grid-tile>
        <mat-grid-tile
        *ngIf="seeNoPrivateComponents"
        [style.background]="'white'"
        [style.border]="'1px solid #BCBCCB'">
            <mat-grid-tile-header
            [style.background] ="'#43425D'">
                Private Components
            </mat-grid-tile-header>
            <br>
            {{noPrivateComponents}}
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br>
    <mat-card *ngIf="seeAppInstanceTable">
    <!-- List applications and components -->
    <h2 class="text-muted">Application Instances
    </h2>

    <!-- Table applications -->
    <div *ngIf="noAppInstancesAvailable">
        There are no running application instances available.
    </div>
    <mat-table #table [dataSource]="instanceDataSource" matSort class="mat-elevation-z8" *ngIf="!noAppInstancesAvailable">
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created at </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.dateCreated}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                    <button mat-button
                    title="Open detail view"
                    (click)=openDetailInstanceView(element)>
                        <i class="fa fa-external-link"></i>
                    </button>
            </mat-cell>
          </ng-container>
        <ng-container matColumnDef="logs">
            <mat-header-cell *matHeaderCellDef>Logs</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button *ngIf="element.status !== 'PENDING'" mat-button title="open logs view" (click)="openApplicationInstanceLogsView(element)" >
                    <i class="fa fa-external-link"></i>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsAppInstance"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsAppInstance;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
<br>

<mat-card *ngIf="seeAppTable">
    <!-- List applications and components -->
    <h2 class="text-muted" *ngIf="!noAppsAvailable">Applications
        <button mat-mini-fab
        title="Add Application"
        (click)="openNewAppDialog()">
            <mat-icon style="color: white">add</mat-icon>
        </button>
    </h2>
    <div *ngIf="noAppsAvailable">
        There are no applications available.
    </div>
    <mat-table #table [dataSource]="appDataSource" matSort class="mat-elevation-z8" *ngIf="!noAppsAvailable">
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created at </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.dateCreated}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="visibility">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Visibility </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.visibility}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <button mat-icon-button [matMenuTriggerFor]="menu"
                title="More actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item 
                    (click)="openDetailInstanceView(element)">
                        <mat-icon>launch</mat-icon>
                        <span>See Details</span>
                    </button>
                    <button mat-menu-item 
                    (click)="openNewInstanceDialog(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Create Application Instance</span>
                    </button>
                </mat-menu>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsApp"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsApp;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
<br>

<mat-card *ngIf="seeCompTable">
    <!-- List applications and components -->
    <h2 class="text-muted" *ngIf="!noCompsAvailable">Components
        <button mat-mini-fab
        title="Add Application"
        (click)="openNewComponentDialog()">
            <mat-icon style="color: white">add</mat-icon>
        </button>
    </h2>
    <div *ngIf="noCompsAvailable">
        There are no components available.
    </div>
    <mat-table #table [dataSource]="compDataSource" matSort class="mat-elevation-z8" *ngIf="!noCompsAvailable">
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created at </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.dateCreated}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="visibility">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Visibility </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.visibility}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <button mat-button
              title="Open detail view"
              (click)=openDetailComponentView(element)>
                  <i class="fa fa-external-link"></i>
              </button>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsComp"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsComp;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
</div>
