.mat-table {
    width: 100% !important;
}
.mat-row {
    width: 100%;
}
.mat-column-identifier {
    max-width: 100px;
    min-height: 20px
}
.mat-column-actions {
    max-width: 100px;
    display: flex;
    justify-content: flex-end;
}

::ng-deep .mat-input-element {
    // font-size: large !important;
    color: #43425D !important;
    margin-top: 8px !important;
  }

.mat-header-cell {
    font-size: 18px !important;
    color: #0B3861 !important;
}

.mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px;
    margin-top: -47px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-stroked-button {
    border-color: #43425D;
    color: #43425D;
    border-style: none;
    min-height: 50px;
}

.mat-row {
    min-height: 60px;
}