<div>
    <h2>Edit RuleSet {{ruleSetName}}</h2>
   <button mat-mini-fab
    title="Add new rule"
    (click)="addRule()">
      <mat-icon style="color: white">add</mat-icon>
  </button>
</div>
<mat-card>
  <mat-table #table [dataSource]="idsRuleDataTable">
    <ng-container matColumnDef="identifier" >
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell class="identifier" *matCellDef="let element">
          {{element.ruleID}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-stroked-button
            (click)="deleteRule(element)">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</mat-card>
