<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add new metric</h1>
  <mat-dialog-content>
    <mat-form-field class="input-full-width">
      <mat-select placeholder="Choose Metric" formControlName="selectedMetric" name="metric">
        <mat-option *ngFor="let metric of metrics" [value]="metric">
            {{ metric.name }}
        </mat-option>
    </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit">Add</button>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>