<h1>Add application</h1>
<form [formGroup]="form" (ngSubmit)="submit(form)">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput formControlName="appName" placeholder="Enter name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-checkbox formControlName="isPublic" labelPosition='before'>
            Public application?
          </mat-checkbox>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="Choose" formControlName="selectedComponents" [(ngModel)]="selectedComponents"
              (ngModelChange)="selectedComponentsValueChanged($event)" [compareWith]="areComponentsEqual" multiple>
              <mat-option *ngFor="let component of components" [value]="component">
                {{component.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="selectedComponentsHavingRequiredInterfaces.length > 0">
        <div class="col-md-6">
          <h3>
            Components with required interfaces
          </h3>
          <mat-card *ngFor="let component of selectedComponentsHavingRequiredInterfaces">
            <mat-card-content>
              <h5>
                {{component.name}}
              </h5>
              <br />
              <span>
                Required interfaces:
              </span>
              <mat-card *ngFor="let graphLink of component.requiredInterfaces">
                <mat-card-content>
                  <h6>
                    {{graphLink.interfaceObj.name}}
                  </h6>
                  <br />
                  Fulfill with:
                  <mat-select placeholder="Choose" formControlName="test"
                    [(ngModel)]="selectedComponentsSatisfyingInterface[component.id][graphLink.graphLinkID]"
                    (ngModelChange)="satisfyingComponentValueChanged($event)">
                    <mat-option
                      *ngFor="let componentSatisfyingInterface of componentsSatisfyingInterfaceCachedByIds[component.id][graphLink.graphLinkID]"
                      [value]="componentSatisfyingInterface">
                      {{componentSatisfyingInterface.name}}
                    </mat-option>
                  </mat-select>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button type="submit">
        Add
      </button>
      <button mat-button type="button" (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>