<div>
    <h2>{{component.name}}</h2>
    <button mat-fab
    title="Edit Component"
    (click)="openEditComponentPage()">
      <mat-icon style="color: white">edit</mat-icon>
</button> 
</div>
<div style="margin-top: 30px">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-md-12" >
                    <h4>
                        General Information
                    </h4>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Created At</p>
                        </mat-placeholder>
                        <input matInput value={{generalData.dateCreated}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>LastModified</p>
                        </mat-placeholder>
                        <input matInput value={{generalData.lastModified}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Visibility</p>
                        </mat-placeholder>
                        <input matInput value={{generalData.isPublic}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="row">
                <div class="col-md-12" >
                    <h4>
                        Architectural Information
                    </h4>
                </div>
                <div class="col-md-6" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Architecture</p>
                        </mat-placeholder>
                        <input matInput value={{architecturalData.architecture}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Scaling</p>
                        </mat-placeholder>
                        <input matInput value={{architecturalData.scaling}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 80% !important">
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Docker Image</p>
                        </mat-placeholder>
                        <input matInput value={{architecturalData.dockerImage}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Docker Registry</p>
                        </mat-placeholder>
                        <input matInput value={{architecturalData.dockerRegistry}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="row">
                <div class="col-md-12" >
                    <h4>
                        Minimum Execution Requirements
                    </h4>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>vCPUs</p>
                        </mat-placeholder>
                        <input matInput value={{requirementsData.vCPUs}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>RAM</p>
                        </mat-placeholder>
                        <input matInput value={{requirementsData.ram}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Storage</p>
                        </mat-placeholder>
                        <input matInput value={{requirementsData.storage}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 80% !important">
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Hypervisor Type</p>
                        </mat-placeholder>
                        <input matInput value={{requirementsData.hypervisorType}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>GPU-Enabled</p>
                        </mat-placeholder>
                        <input matInput value={{requirementsData.gpuEnabled}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="row">
                <div class="col-md-12" >
                    <h4>
                        Health Check Data
                    </h4>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Health HTTP</p>
                        </mat-placeholder>
                        <input matInput value={{healthData.healthHttp}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Command</p>
                        </mat-placeholder>
                        <input matInput value={{healthData.healthCommand}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Time Interval</p>
                        </mat-placeholder>
                        <input matInput value={{healthData.healthTimeInterval}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="row" >
                <div class="col-md-12" >
                    <h4>
                        Icon Information
                    </h4>
                </div>
            </div>
            <div class="row"*ngIf="noIconAvailable">
                <div class="col-md-12">
                    <p style="font-size: 16pt; color: mediumvioletred">There is no icon stored for this component.</p>
                </div>
            </div>
            <div class="row" *ngIf="!noIconAvailable">
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Filename</p>
                        </mat-placeholder>
                        <input matInput value={{iconData.fileName}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>
                                Path
                            </p>
                        </mat-placeholder>
                        <input matInput value={{iconData.path}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="margin-top: 15px">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>
                                Base64
                            </p>
                        </mat-placeholder>
                        <input matInput value={{iconData.base64}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="!noIconAvailable">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Content</p>
                        </mat-placeholder>
                        <input matInput value={{iconData.content}} [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-placeholder style="color:lightslategray; font-size: 15pt">
                            <p>Content Type</p>
                        </mat-placeholder>
                        <input matInput value={{iconData.contentType}} [disabled]="true">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>