.mat-fab{
  background-color: #43425D;
  margin-left: 20px; 
  margin-bottom: 15px;
  margin-top: -50px;
  color: white;
  position: absolute;
  right: 24px;
}

.mat-column-attribute{
    flex: 0 0 115px;
  }
  .mat-row, .mat-header-row{
    border-width: 0;
    min-height: 30px;
  
  }

  .mat-checkbox {
      margin-left: 24px;
      margin-top: 5px;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent 
.mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent 
.mat-checkbox-background, 
.mat-accent .mat-pseudo-checkbox-checked, 
.mat-accent .mat-pseudo-checkbox-indeterminate, 
.mat-pseudo-checkbox-checked, 
.mat-pseudo-checkbox-indeterminate {
    background-color:#43425D !important; /* Red background for example */
    border-color: #43425D !important;
}

::ng-deep .mat-input-element {
    font-size: large !important;
    color: #43425D !important;
    margin-top: 8px !important;
  }

  .mat-placeholder {
      font-size: large !important;
  }