<div style="margin-top: 10px">
  <h2>Monitoring Plugins</h2>
  <button mat-fab
      title="Add Component"
      (click)="openAddPluginDialog()">
        <mat-icon style="color: white">add</mat-icon>
  </button> 
</div>
<div class="notAvailableMessage" *ngIf="noPluginsAvailable">
    <mat-card>
        There are no plugins available.
    </mat-card>
</div>
<div style="margin-top: 10px">
  <mat-form-field>
    <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for ids rule set ...">
  </mat-form-field>
    <mat-table #table [dataSource]="pluginDataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let elem"> {{elem.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="moduleName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Module Name</mat-header-cell>
            <mat-cell *matCellDef="let elem"> {{elem.moduleName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
            <mat-cell *matCellDef="let elem">
              {{elem.dateCreated}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="metricsCounter">
          <mat-header-cell *matHeaderCellDef># Metrics</mat-header-cell>
          <mat-cell *matCellDef="let elem"> {{elem.metricsCounter}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="default">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Default</mat-header-cell>
          <mat-cell *matCellDef="let elem"> 
            <mat-icon *ngIf=elem.defaultPlugin>done</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="immutable">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Immutable</mat-header-cell>
            <mat-cell *matCellDef="let elem">
              <mat-icon *ngIf=elem.immutablePlugin>done</mat-icon>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publicPlugin">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Public</mat-header-cell>
            <mat-cell *matCellDef="let elem">
              <mat-icon *ngIf=elem.publicPlugin>done</mat-icon>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let elem"> 
                <button mat-icon-button [matMenuTriggerFor]="menu"
                title="More actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item 
                    (click)="openDetailView(elem)">
                        <mat-icon>launch</mat-icon>
                        <span>See Details</span>
                    </button>
                    <button mat-menu-item 
                    (click)="openEditView(elem)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Component</span>
                    </button>
                    <button mat-menu-item
                    (click)="delete(elem)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Component</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                 matRipple
                 class="element-row"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>