.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-column-name {
    flex: 0 0 15% !important;
    width: 15% !important
}

.mat-column-moduleName {
    flex: 0 0 20% !important;
    width: 20% !important
}

.mat-column-metricsCounter {
    flex: 0 0 10% !important;
    width: 10% !important
}

.mat-column-default {
    flex: 0 0 10% !important;
    width: 10% !important
}

.mat-column-immutable {
    flex: 0 0 10% !important;
    width: 10% !important
}

.mat-column-publicPlugin {
    flex: 0 0 10% !important;
    width: 10% !important
}

.mat-column-dateCreated {
    flex: 0 0 20% !important;
    width: 20% !important
}

.mat-column-actions {
    flex: 0 0 5% !important;
    width: 5% !important
}