<form [formGroup]="form" (ngSubmit)="submit(form)">
<h1 mat-dialog-title>Link Component to Application</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Choose Component" formControlName="selectedComponent" name="comp">
            <mat-option *ngFor="let comp of components" [value]="comp">
                {{ comp.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
