<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Change Dashboard Settings</h1>
  <mat-dialog-content>
    <mat-card>
      <mat-card-header>
        Choose Tables
      </mat-card-header>
      <mat-card-content>
        <mat-checkbox formControlName="seeAppInstanceTable" labelPosition='after'>Application Instances</mat-checkbox><br>
        <mat-checkbox formControlName="seeAppTable" labelPosition='after'>Applications</mat-checkbox><br>
        <mat-checkbox formControlName="seeCompTable" labelPosition='after'>Components</mat-checkbox><br>
      </mat-card-content>
    </mat-card><br>
    <mat-card>
      <mat-card-header>
        Choose Numbers
      </mat-card-header>
      <mat-card-content>
        <mat-checkbox formControlName="seeNoAppInstances" labelPosition='after'>Application Instances</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoComponents" labelPosition='after'>Components</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoPublicComponents" labelPosition='after'>Public Components</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoPrivateComponents" labelPosition='after'>Private Components</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoApps" labelPosition='after'>Applications</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoPublicApps" labelPosition='after'>Public Applications</mat-checkbox><br>
        <mat-checkbox formControlName="seeNoPrivateApps" labelPosition='after'>Private Applications</mat-checkbox><br>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button type="submit">Save  Changes</button>
  </mat-dialog-actions>
</form>

