::ng-deep .mat-checkbox-checked.mat-accent 
.mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent 
.mat-checkbox-background, 
.mat-accent .mat-pseudo-checkbox-checked, 
.mat-accent .mat-pseudo-checkbox-indeterminate, 
.mat-pseudo-checkbox-checked, 
.mat-pseudo-checkbox-indeterminate {
    background-color:#43425D !important; /* Red background for example */
    border-color: #43425D !important;
}

h1 {
    font-size: 30px
}

.mat-card-header {
    font-size: 25px;
    margin-left: -20px
}

.mat-card-content {
    font-size: 20px;
    margin-top: 15px;
}

.mat-stroked-button {
    font-size: 18px !important;
    background-color: #43425D;
    color: white;
}