<nav class="sidebar">
    <div class="list-group">
        <!-- Link to the dashboard overview -->
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
        <a routerLink="/dashboard/instances" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>apps</mat-icon>&nbsp;<span class="aligned-with-icon">Instances</span>
        </a>
        <a routerLink="/dashboard/application" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>apps</mat-icon>&nbsp;<span class="aligned-with-icon">Applications</span>
        </a>
        <a routerLink="/dashboard/components" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>apps</mat-icon>&nbsp;<span class="aligned-with-icon">Components</span>
        </a>
        <a routerLink="/dashboard/sshkeys" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>vpn_key</mat-icon>&nbsp;<span class="aligned-with-icon">SSH Keys</span>
        </a>
        <a routerLink="/dashboard/cloudresources" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>cloud_queue</mat-icon>&nbsp;<span class="aligned-with-icon">Cloud Resources</span>
        </a>
        <a routerLink="/dashboard/idsrules" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>security</mat-icon>&nbsp;<span class="aligned-with-icon">IDS Rule Sets</span>
        </a>
        <a routerLink="/dashboard/monitoringrules" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <mat-icon>memory</mat-icon>&nbsp;<span class="aligned-with-icon">Monitoring Rules</span>
        </a>
        <!-- Link to User Management -->
        <a routerLink="/dashboard/user"  [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Settings
        </a>
        <a routerLink="/dashboard/eclipse"  [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img src="assets/images/eclipse_logo_transparent.svg" width="15px"/>&nbsp; <span style="margin-left: 10px">Eclipse Che</span>
        </a>
    </div>
    <!-- loop over all  -->
    <!-- <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('pages')">
            <mat-icon>apps</mat-icon>&nbsp;<span class="aligned-with-icon">Applications</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'pages'"
        *ngFor="let app of appList">
            <ul class="submenu">
                <li>
                    <a 
                        routerLink="/dashboard/application/{{ app.appName }}"
                        [routerLinkActive]="['router-link-active']"
                        [routerLinkActiveOptions]="{ __change_detection_hack__: [ app.appName ]}"><span> {{ app.appName }} </span>
                    </a>
                </li>
            </ul>
        </li>
    </div> -->
</nav>
