<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add user</h1>
  <mat-dialog-content>
    <mat-icon>account_circle</mat-icon>
    <mat-form-field>
      <input matInput formControlName="appOwner" placeholder="Add new app owner">
    </mat-form-field>
    <br>
    <mat-icon>lock</mat-icon>
    <mat-form-field>
      <input matInput formControlName="appName" placeholder="New app name">
    </mat-form-field>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Save</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
