.mat-button, .mat-raised-button, .mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -30px;
    color: white;
    position: absolute;
    right: 24px;
}