<div>
  <h2>User Management</h2>
  <button mat-fab
    title="Add User"
    (click)="openAddUserDialog()">
      <mat-icon style="color: white">add</mat-icon>
  </button>  
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="User">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail"> 
        Role {{detail.role}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
              matRipple 
              class="element-row" 
              [class.expanded]="expandedElement == row"
              (click)="expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
              [@detailedExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
              style="overflow: hidden"> 
    </mat-row>
  </mat-table>
</div>