<div>
  <h2>{{providerName}} Details</h2>
  <button mat-fab
  title="Edit resource"
  (click)="editResource()">
    <mat-icon style="color: white">edit</mat-icon>
</button>
</div>
<div style="margin-top: 25px">
  <mat-card>
    <!-- Openstack provider -->
    <mat-card-content *ngIf="providerType=='OPENSTACK'">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Name</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}" matInput formControlName="name">
          </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Resource Type</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: true}"  matInput formControlName="resourceType">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Image ID</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}" matInput formControlName="imageID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Network ID</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Nexus IP</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Proxy</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="proxy">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Endpoint</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="endpoint">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>domain</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="domain">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Username</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Password</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="password">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Project</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="project">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editableResource">
          <div class="col-md-10">
            <div class="col-md-2">
                <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
          <div class="col-md-2">
              <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
          </div>
        </div>
        </form>
      </mat-card-content>
      <!-- 5G provider -->
      <mat-card-content *ngIf="providerType=='FIFTH_GENERATION_TELCO_PROVIDER'">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Name</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="name">
            </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Resource Type</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: true}" matInput formControlName="resourceType">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Image ID</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Network ID</p>
                </mat-placeholder>
                <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Nexus IP</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Proxy</p>
                </mat-placeholder>
                <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="proxy">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Endpoint</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="endpoint">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Username</p>
                </mat-placeholder>
                <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-placeholder style="color:lightslategray; font-size: 15pt">
                  <p>Password</p>
                </mat-placeholder>
                <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="password">
              </mat-form-field>
            </div>
          </div>
        <div class="row" *ngIf="editableResource">
          <div class="col-md-10">
              <div class="col-md-2">
                  <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
            <div class="col-md-2">
                <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
            </div>
        </div>
      </form>
    </mat-card-content>
    <!-- Policy defined provider -->
    <mat-card-content *ngIf="(providerType=='POLICY_DEFINED') || (providerType=='USER_DEFINED')">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Name</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="name">
          </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Resource Type</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: true}" matInput formControlName="resourceType">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Image ID</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Network ID</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Nexus IP</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editableResource">
          <div class="col-md-10">
              <div class="col-md-2">
                  <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
            <div class="col-md-2">
                <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
            </div>
        </div>
      </form>
    </mat-card-content>
    <!-- Google Provider -->
    <mat-card-content *ngIf="providerType=='GCC'">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Name</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="name">
          </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Resource Type</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: true}" matInput formControlName="resourceType">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Image ID</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Network ID</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Nexus IP</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Username</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Private Key</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="privateKey">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editableResource">
            <div class="col-md-10">
                <div class="col-md-2">
                    <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
                </div>
              </div>
              <div class="col-md-2">
                  <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
              </div>
        </div>
      </form>
    </mat-card-content>
    <!-- IOT provider -->
    <mat-card-content *ngIf="providerType=='IOT_GATEWAY'">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Name</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="name">
          </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Resource Type</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: true}" matInput formControlName="resourceType">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Image ID</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Network ID</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Nexus IP</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Endpoint</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="endpoint">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Username</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="username">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Password</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="password">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Mesh Identifier</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="meshIdentifier">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editableResource">
          <div class="col-md-10">
              <div class="col-md-2">
                <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
            </div>
        </div>
      </form>
    </mat-card-content>
    <!-- AWS provider -->
    <mat-card-content *ngIf="providerType=='AWS'">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-placeholder style="color:lightslategray; font-size: 15pt">
              <p>Name</p>
            </mat-placeholder>
            <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="name">
          </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Resource Type</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: true}" matInput formControlName="resourceType">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Image ID</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="imageID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Network ID</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="networkID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Nexus IP</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="nexusIP">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Public Key</p>
              </mat-placeholder>
              <input [ngClass]="{nonEditable: nonEditableResource}"  matInput formControlName="publicKey">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-placeholder style="color:lightslategray; font-size: 15pt">
                <p>Private Key</p>
              </mat-placeholder>
              <input matInput [ngClass]="{nonEditable: nonEditableResource}"  formControlName="privateKey">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editableResource">
          <div class="col-md-10">
            <div class="col-md-2">
              <button type="button" mat-stroked-button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
          <div class="col-md-2">
            <button type="submit" mat-stroked-button (click)="saveEditedValues()">Save</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>