.mat-raised-button, .mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -10px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -60px;
    color: white;
    position: absolute;
    right: 24px;
} 

.right-corner {
    margin-left: 20px;
    position: absolute;
    right: 24px; 
}

.settings-button{
    background-color: white;
    border-style: none;
    color: '#BCBCCB';
}

.left {
    float: left;
    left: 60px;
    position: absolute;
    margin-top: 20px;
    margin-right: 40px;
}
.right {
    float: left;
    right: 60px;
    position: absolute;
    margin-top: 20px;
}

.notAvailableMessage {
    margin-top: 25px;
    font-weight: bold;
}

.inLineLink {
    cursor: pointer;
    cursor: hand;
}