<!-- Starting Card including main informaction -->
<div style="margin-top: 20px">
  <h2>{{app ? app.name + ' Details' : ''}}</h2>
</div>
    <mat-card>
      <mat-card-header>
        <h2>Component Nodes</h2>
      </mat-card-header>
        <mat-card-content class="notAvailableMessage"
        *ngIf=noCompLinkedMessage>
            There are no components linked. You can <a class="inLineLink" style="color:cadetblue" 
            (click)="openEditView()"> to add components</a> to this application.
        </mat-card-content>
      <mat-table #table [dataSource]="componentNodes">
        <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
            <mat-cell *matCellDef="let componentNode"> {{componentNode.hexID}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let componentNode"> {{componentNode.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="component">
          <mat-header-cell *matHeaderCellDef>Component</mat-header-cell>
          <mat-cell *matCellDef="let componentNode"> {{componentNode.component.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>Component Details</mat-header-cell>
          <mat-cell *matCellDef="let componentNode"> 
              <button mat-button
              title="Open detail view"
              (click)=detailCompView(componentNode.component.id)>
                  <i class="fa fa-external-link"></i>
              </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  <br>
  <mat-card>
      <mat-card-header>
        <h2>Application Instances</h2>
        <button mat-mini-fab
            *ngIf=!noInstancesAvailableMessage
            title="Create new instance"
            (click)="openCreateNewInstance(app)"
        >
      <mat-icon style="color: white">add</mat-icon>
    </button>
      </mat-card-header>
        <mat-card-content class="notAvailableMessage"
        *ngIf=noInstancesAvailableMessage>
            There are no instances available. You can <a class="inLineLink" style="color:cadetblue" 
            (click)="openCreateNewInstance(app)">create a new instance</a>.
      </mat-card-content>
      <mat-table #table [dataSource]="applicationInstanceDataSource">
        <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{instance.hexID}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let instance"> {{instance.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef>Date created</mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.dateCreated}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{instance.status}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
            <mat-cell *matCellDef="let instance"> 
                <button mat-button
                title="Open detail view"
                (click)=openDetailInstanceView(instance)>
                    <i class="fa fa-external-link"></i>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedInstancesColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedInstancesColumns;"></mat-row>
    </mat-table>
  </mat-card>