<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Configure {{componentNodeInstanceName}}</h1>
  <mat-dialog-content>
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <br>
    <div class="col-md-4"> 
      <mat-form-field style="margin-top: 10px">
        <mat-select formControlName="selectedSSHKey" placeholder="Select SSHKey" [compareWith]="compareSSHKeys" >
          <mat-option *ngFor="let ssh of sshKeyList" [value]="ssh">
            {{ssh.friendlyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field style="margin-top: 10px">
        <mat-select formControlName="provider" placeholder="Select Provider" [compareWith]="compareProvider"
          (selectionChange)="regionChangeForProvider(selectedProvider)" 
          [(value)]="selectedProvider" >
          <mat-option *ngFor="let provider of providerList" [value]="provider">
            {{provider.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4"> 
      <mat-form-field style="margin-top: 10px">
        <mat-select formControlName="region" placeholder="Select Region" [compareWith]="compareLocations">
          <mat-option *ngFor="let region of regionList" [value]="region">
            {{region.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <!-- ids -->
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-3" style="margin-top: 5px">
      <mat-checkbox formControlName="activateIPS" labelPosition='before'>Activate IPS</mat-checkbox>
    </div>
  </div>
  <br>
  <!-- ips --> 
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-3" style="margin-top: 20px">
      <mat-checkbox formControlName="activateIDS" labelPosition='before'>Activate IDS</mat-checkbox><br>
    </div>
    <div class="col-md-12" style="margin-top: 10px">
      <mat-table #table [dataSource]="ruleSetDataSource" *ngIf="!noRuleSetsAvailableFlag">
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button mat-button
            title="Open detail view"
            (click)=delete(element)>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedRuleSets"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedRuleSets;"></mat-row>
      </mat-table>
    </div>
    <div class="col-md-9">
      <mat-form-field>
        <mat-select formControlName="selectedRuleSet" placeholder="Select IDS RuleSets" multiple>
          <mat-option *ngFor="let idsrule of idsRuleSetList" [(value)]="idsrule">
            {{idsrule.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;" *ngIf="componentIsScalable">
    <br>
    <div class="col-md-4"> 
      <mat-form-field style="margin-top: 10px">
        <input matInput formControlName="minWorkers" placeholder="Minimum Workers">
      </mat-form-field>
    </div>
    <div class="col-md-4"> 
        <mat-form-field style="margin-top: 10px">
          <input matInput formControlName="maxWorkers" placeholder="Maximum Workers">
        </mat-form-field>
      </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
  <br>
    <div class="col-md-4"> 
      <mat-form-field style="margin-top: 10px">
        <input matInput formControlName="vCPUs" placeholder="vCPUs">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field style="margin-top: 10px">
        <input matInput formControlName="memory" placeholder="RAM" >
    </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field style="margin-top: 10px">
          <input matInput formControlName="storage" placeholder="Storage">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12" style="margin-top: 10px"> 
      <h6 >Health Check</h6>
    </div>
    <div class="col-md-4"> 
      <mat-form-field>
        <input matInput formControlName="httpHealthCheck" placeholder="Http">
    </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput formControlName="commandHealthCheck" placeholder="Command">
    </mat-form-field>
    </div>
    <div class="col-md-4"> 
      <mat-form-field>
        <input matInput formControlName="timeIntervalHealthCheck" placeholder="Time Interval">
    </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12" style="margin-top: 10px"> 
        <h6 >Overridable Parameter</h6>
    </div>
    <div class="col-md-12"> 
      <mat-form-field>
        <input matInput formControlName="commandOverridable" placeholder="Command">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div *ngFor="let interface of interfaceList">
    <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px; margin-top: 10px">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="{{interface.name}}" placeholder="Interface Name" [value]="interface.name" >
        </mat-form-field>
      </div>
      <div class="col-md-6"> 
        <mat-form-field>
          <input matInput formControlName="{{interface.name}}Port" placeholder="Interface Port" [value]="interface.port">
        </mat-form-field><br>
      </div>
    </div>
  </div>
  <br>
  <div style="border:1px solid #43425D">
    <div *ngFor="let env of envVarList" >
      <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 10px">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="{{env.key}}" placeholder="Environmental Key" value="{{env.key}}">
          </mat-form-field>
        </div>
        <div class="col-md-6"> 
          <mat-form-field>
            <input matInput formControlName="{{env.key}}Value" placeholder="Parameters" value="{{env.value}}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12" style="margin-top: 10px"> 
        <h6 >Plugins</h6>
    </div>
    <div class="col-md-12" style="margin-top: 10px">
      <mat-table #table [dataSource]="pluginDataSource" matSort class="mat-elevation-z8" *ngIf="!noAppInstancesAvailable">
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="moduleName" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Module Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.moduleName}}</mat-cell>
      </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Delete?</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <mat-checkbox formControlName="{{element.name}}" ></mat-checkbox>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedPlugins"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedPlugins;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-12" style="margin-top: 10px"> 
      <h6 >Activate more plugins</h6>
    </div>
    <div class="col-md-9">
      <mat-form-field>
        <mat-select formControlName="selectedPlugins" placeholder="Choose Plugins" multiple>
          <mat-option *ngFor="let plug of pluginInstanceChoosableList" [value]="plug">
            {{plug.name}} - {{plug.moduleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12" style="margin-top: 10px"> 
      <h6 >Volumes</h6>
    </div>
    <div class="col-md-12" *ngIf="noVolumesFlag"> 
      <p style="font-size: 16pt; color: mediumvioletred">{{noVolumesAvailableMessage}}</p>
    </div>
  </div>
  <br>
  <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12" style="margin-top: 10px"> 
        <h6 >Devices</h6>
    </div>
    <div class="col-md-12" style="margin-top: 10px" *ngIf="noDevicesFlag"> 
      <p style="font-size: 16pt; color: mediumvioletred">{{noDevicesAvailableMessage}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button type="submit">Add</button>
  <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</form>
