.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.align-middle {
    margin-left: 15px;
}

.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-column-actions {
    flex: 0 0 10% !important;
    width: 10% !important
}
.mat-column-ResourceName {
    flex: 0 0 25% !important;
    width: 25% !important
}
.mat-column-Type {
    flex: 0 0 25% !important;
    width: 25% !important
}
.mat-column-dateCreated {
    flex: 0 0 20% !important;
    width: 20% !important
}
.mat-column-Status {
    flex: 0 0 10% !important;
    width: 10% !important
}
.mat-column-default {
    flex: 0 0 10% !important;
    width: 10% !important
}