<h2>
  Cloud Resources
</h2>
<button mat-fab
  title="Add new resource"
  (click)="openAddNewResource()">
    <mat-icon style="color: white">add</mat-icon>
</button>
<mat-form-field>
    <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for cloud resource ...">
</mat-form-field> 
<div>
  <mat-table #table [dataSource]="resourceSourceData" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="ResourceName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let resource"> {{resource.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell *matCellDef="let resource"> {{resource.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date created</mat-header-cell>
        <mat-cell *matCellDef="let resource"> {{resource.dateCreated}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let resource"> {{resource.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="default">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Default</mat-header-cell>
        <mat-cell *matCellDef="let resource"> 
            <mat-icon *ngIf="resource.defaultProvider" class="align-middle">done</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let resource"> 
            <button mat-icon-button [matMenuTriggerFor]="menu"
            title="More actions">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item 
                (click)="openResourceDetails(resource)">
                    <mat-icon>launch</mat-icon>
                    <span>See details</span>
                </button>
                <button mat-menu-item 
                (click)="openEditResourceDialog(resource)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit resource</span>
                </button>
                <button mat-menu-item 
                (click)="setToDefault(resource)">
                    <mat-icon>done</mat-icon>
                    <span>Set to default</span>
                </button>
                <button mat-menu-item
                (click)="deleteResource(resource)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete resource</span>
                </button>
            </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               matRipple
               class="element-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>