table {
    width: 100%;
  }
.mat-column-attribute{
  flex: 0 0 115px;
}
.mat-row, .mat-header-row{
  border-width: 0;
  min-height: 30px;

}

.mat-flat-button{
  color: #43425D;
  background-color:white;
  min-width: 1px

}

