<h2>User Profile {{username}}</h2>
<mat-card>
    <mat-card-header>
        <h4>Personel Details</h4>
        <button mat-flat-button
        (click)=openEditUserProfileDialog()>
                <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
            <mat-table #table [dataSource]="dataSource">
                    <!-- attribute coloumn -->
                    <ng-container matColumnDef="attribute">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.attribute}}</mat-cell>
                    </ng-container>
            
                    <!-- data coloumn -->
                    <ng-container matColumnDef="data">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.data}}</mat-cell>
                    </ng-container>
            
                    <!-- row iterator -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
    </mat-card-content>
</mat-card>
