<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Create new Application Instance</h1>
  <mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Choose Application" formControlName="selectedApplication">
          <mat-option *ngFor="let app of applicationsList" [value]="app">
            {{app.name}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Create</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>