<div style="margin-top: 20px">
<h2>{{instanceName}} Details</h2>
<button mat-fab
  *ngIf="instanceStatus !== 'Pending'"
    title="Configure Runtime Policies"
    [matMenuTriggerFor]="menu">
      <mat-icon style="color: white">settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
      (click)="openApplicationInstanceLogsView()">
        <mat-icon>launch</mat-icon>
        Open logs view
      </button>
      <button mat-menu-item
      (click)="openAddElasticityPoliciesDialog()"
      *ngIf="instanceStatus === 'Deployed'">
        <mat-icon>build</mat-icon>
        Elasticity Policies
      </button>
      <button mat-menu-item
      (click)="openAddSecurityPoliciesDialog()"
      *ngIf="instanceStatus === 'Deployed'">
        <mat-icon>security</mat-icon>
        Security Policies
      </button>
      <button mat-menu-item
      (click)="openAddProfilingDialog()"
      *ngIf="instanceStatus === 'Deployed'">
        <mat-icon>bug_report</mat-icon>
        Profiling
      </button>
      <button mat-menu-item
      (click)="undeployInstance()"
      *ngIf="instanceStatus === 'Deployed'">
        <mat-icon>flight_land</mat-icon>
        Un-Deploy
      </button>
    </mat-menu>
  </div>
<!-- display data -->
<mat-card style="margin-top: 30px">
  <mat-card-content>
    <!-- header -->
    <div class="row">
      <div class="col-md-12">
        <h4> General Information</h4>
      </div>
    </div>
    <!-- data -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Identifier</p>
          </mat-placeholder>
          <input matInput value={{generalData.identifier}} [disabled]=true>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Instance Name</p>
          </mat-placeholder>
          <input matInput value={{generalData.instanceName}} [disabled]=true>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Application</p>
          </mat-placeholder>
          <input matInput value={{generalData.applicationName}} [disabled]=true>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Deployment Status</p>
          </mat-placeholder>
          <input matInput value={{generalData.status}} [disabled]=true>
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="generalData.status === 'Deployed'">
        <mat-form-field>
          <mat-placeholder style="color:lightslategray; font-size: 15pt">
            <p>Deployed at</p>
          </mat-placeholder>
          <input matInput value={{generalData.deploymentTimeStamp}} [disabled]=true>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="generalData.status === 'Deployed'">
  <h4>Resources</h4>
  <div class="row" *ngFor="let componentNodeInstance of applicationInstance.componentNodeInstances">
    <div class="col-md-3">
      <h6>
        {{componentNodeInstance.name}}
      </h6>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-placeholder style="color:lightslategray; font-size: 15pt">
          <p>RAM</p>
        </mat-placeholder>
        <input matInput value={{componentNodeInstance.flavorInstance.ram}} [disabled]=true>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-placeholder style="color:lightslategray; font-size: 15pt">
          <p>Virtual CPUs</p>
        </mat-placeholder>
        <input matInput value={{componentNodeInstance.flavorInstance.vCPUs}} [disabled]=true>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-placeholder style="color:lightslategray; font-size: 15pt">
          <p>Storage</p>
        </mat-placeholder>
        <input matInput value={{componentNodeInstance.flavorInstance.storage}} [disabled]=true>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<br>
<!-- Component Node Instances -->
<mat-card>
  <h4>Component Node Instances</h4>
  <mat-table #table [dataSource]="componentInstanceData">
    <ng-container matColumnDef="hexID">
      <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.hexID}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Component Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="statusIDS">
      <mat-header-cell *matHeaderCellDef>Status IDS</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.statusIDS}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="statusIPS">
      <mat-header-cell *matHeaderCellDef>Status IPS</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.statusIPS}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Configuration</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button
          title="Configure {{element.name}}"
          (click)=openConfigureComponentNodeInstanceDialog(element)>
            <mat-icon>settings</mat-icon>
        </button>
        </mat-cell>
      </ng-container>
    <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef>IPs</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngFor="let componentNodeInstanceIP of element.componentNodeInstanceIPs">
            <div *ngIf="componentNodeInstanceIP.network === 'PublicIP'">
              Public IP: 
              <a href="http://{{componentNodeInstanceIP.ip}}" target="_blank">
                {{componentNodeInstanceIP.ip}}
              </a>
            </div>
            <div *ngIf="componentNodeInstanceIP.network !== 'PublicIP'">
              {{componentNodeInstanceIP.network}}: {{componentNodeInstanceIP.ip}}
            </div>
          </div>
        </mat-cell>
    </ng-container>
    <!-- row iterator -->
    <mat-header-row *matHeaderRowDef="displayedCompInstanceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedCompInstanceColumns;"></mat-row>
  </mat-table>
</mat-card>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button mat-raised-button (click)="deployApplicationInstance()" align="center" *ngIf="instanceStatus === 'Pending'">
      Deploy Application Instance
    </button>
    <button mat-raised-button (click)="undeployInstance()" align="center" *ngIf="instanceStatus !== 'Pending'">
      Undeploy Application Instance
    </button>
  </div>
  <div class="col-md-4"></div>
</div>
<mat-card *ngIf="generalData.status==='DEPLOYED'">
<br>
<!-- Monitoring Widgets -->
<app-monitoring [componentList]=componentList [appMonitoringData]=appMonitoringData>
</app-monitoring>
</mat-card>