.mat-fab{
    background-color: #43425D;
    margin-left: 20px;
    margin-top: -60px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-raised-button{
    background-color: #43425D;
    color: white;
}

::ng-deep .mat-input-element {
    font-size: large !important;
    color: #43425D !important;
    margin-top: 8px !important;
  }

.mat-placeholder {
    font-size: large !important;
}

.mat-icon-button {
    color: #43425D;
}