.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.mat-table {
    box-shadow: none !important;
    width: 100%
}