<div style="margin-top: 10px">
  <h2>
    SSH Keys
  </h2>
  <button mat-fab
    title="Add User"
    (click)="openAddSSHKeyDialog()">
      <mat-icon style="color: white">add</mat-icon>
</button> 
</div>
<div style="margin-top: 10px">
  <mat-form-field>
      <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for SSH key ...">
  </mat-form-field>
</div>
<div style="margin-top: 10px">
  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="SSHKeyName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let ssh"> {{ssh.friendlyName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateCreated">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date created</mat-header-cell>
          <mat-cell *matCellDef="let ssh"> {{ssh.dateCreated}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="default">
        <mat-header-cell *matHeaderCellDef>Default</mat-header-cell>
        <mat-cell *matCellDef="let ssh">
          <mat-icon *ngIf="ssh.defaultSSH">done</mat-icon>
        </mat-cell>
    </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let ssh"> 
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item 
            (click)="makeKeyDefault(ssh)">
                <mat-icon>done</mat-icon>
                <span>Set to Default</span>
            </button>
            <button mat-menu-item 
            (click)="openDetailSSHKeyView(ssh)">
                <mat-icon>launch</mat-icon>
                <span>See SSH Key details</span>
            </button>
            <button mat-menu-item 
            (click)="openEditSSHKeyView(ssh)">
                <mat-icon>edit</mat-icon>
                <span>Edit SSH Key</span>
            </button>
            <button mat-menu-item
            (click)="deleteSSH(ssh)">
                <mat-icon>delete</mat-icon>
                <span>Delete SSH Key</span>
            </button>
            </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               matRipple
               class="element-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>