<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Add Monitoring Widget</h1>
    <mat-dialog-content>
      <mat-form-field>
        <input matInput formControlName="cardname" placeholder="Enter card title">
      </mat-form-field><br>
      <mat-form-field>
            <mat-select placeholder="Choose Component" formControlName="selectedComponent" name="component">
                <mat-option *ngFor="let component of Components" [value]="component">
                    {{ component.name }}
                </mat-option>
            </mat-select>
          </mat-form-field><br>
      <mat-form-field>
          <mat-select placeholder="Choose Metric" formControlName="selectedMetric" name="metric">
              <mat-option *ngFor="let metric of Metric" [value]="metric">
                  {{ metric.value }}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <br>
        <mat-form-field>
            <input matInput [matDatepicker]="startpicker" placeholder="Choose a start date" formControlName="pickedStartDate">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
           <mat-datepicker #startpicker startView="month" [startAt]="startDate.startDate"></mat-datepicker>
        </mat-form-field> -->
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Add</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
