<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Edit user profile</h1>
    <mat-dialog-content>
      <mat-form-field>
        <input matInput formControlName="firstname">
      </mat-form-field><br>
      <mat-form-field>
          <input matInput formControlName="lastname">
        </mat-form-field><br>
      <mat-form-field>
          <input matInput formControlName="email">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput formControlName="phone">
      </mat-form-field><br>
      <mat-checkbox formControlName="emailnotifications" labelPosition='before'>Enable Email notifications</mat-checkbox><br>
      <mat-checkbox formControlName="webnotifications" labelPosition='before'>Enable web notifications</mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Add</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>