<h4>Components</h4>
<mat-grid-list cols=3 gutterSize="40px" *ngIf="!noCompAvailable">
    <mat-grid-tile *ngFor="let comp of complist">
        <mat-grid-tile-header>
            {{comp}}
        </mat-grid-tile-header>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="noCompAvailable" class=notAvailableMessage>
    There are no linked components!
</div>
