.mat-raised-button, .mat-mini-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -50px;
    color: white;
    position: absolute;
    right: 24px;
}

.mat-fab{
    background-color: #43425D;
    margin-left: 20px; 
    margin-bottom: 15px;
    margin-top: -60px;
    color: white;
    position: absolute;
    right: 24px;
} 

.mat-table {
    box-shadow: none !important;
    width: 100%
}

.mat-column-name {
    flex: 0 0 35% !important;
    width: 35% !important
}
.mat-column-dateCreated {
    flex: 0 0 35% !important;
    width: 35% !important
}
.mat-column-publicApplication {
    flex: 0 0 20% !important;
    width: 20% !important
}
.mat-column-actions {
    flex: 0 0 10% !important;
    width: 10% !important
}

.mat-form-field {
    width: 100% !important;
    font-size: 16px;
}

.unicorn-snackbar{
    background-color: #43425D;
}

.right-corner {
    position: absolute;
    right: 24px; 
    margin-top: -40px;
}

.settings-button{
    background-color: white;
    border-style: none;
    color: '#BCBCCB';
}

.left {
    float: left;
    left: 60px;
    position: absolute;
    margin-top: 20px;
    margin-right: 40px;
}
.right {
    float: left;
    right: 60px;
    position: absolute;
    margin-top: 20px;
}

.notAvailableMessage {
    margin-top: 25px;
    font-weight: bold;
}

.inLineLink {
    cursor: pointer;
    cursor: hand;
}