<div style="margin-top: 20px">
  <h2>Applications</h2>
  <button mat-fab
      title="Add Application"
      (click)="openNewAppDialog()">
        <mat-icon style="color: white">add</mat-icon>
  </button> 
</div>

<!-- tables -->
<mat-card style="margin-top: 30px !important">
  <mat-form-field>
    <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Search for application ...">
  </mat-form-field>
  <mat-table *ngIf="showAllApps.value" #table [dataSource]="appDataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Application</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.dateCreated}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="publicApplication">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Visibility</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.publicApplication}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button [matMenuTriggerFor]="menu"
        title="More actions">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          (click)="openDetailView(element)">
              <mat-icon>launch</mat-icon>
              <span>See Application Details</span>
          </button>
          <button mat-menu-item
          (click)="createApplicationInstance(element)">
              <mat-icon>launch</mat-icon>
              <span>Create Application Instance</span>
          </button>
          <button mat-menu-item
          (click)="delete(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete Application</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</mat-card>