<div *ngIf="chartData.length > 0" style="margin-top: 40px">
  <canvas baseChart height="400%" width="800%"
  [chartType]="'line'"
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [colors]="chartColors"
  [legend]="true"></canvas>
</div>
