<form novalidate [formGroup]="form" (ngSubmit)="submit()">
  <h1>User Management</h1>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input type="text" matInput formControlName="firstName" placeholder="First name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="text" matInput formControlName="lastName" placeholder="Last name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="text" matInput formControlName="phone" placeholder="Phone">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input type="text" matInput formControlName="newPassword" placeholder="Password">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="text" matInput formControlName="verifyPassword" placeholder="Confirm password">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="submit">Submit</button>
      <button mat-raised-button type="button" (click)="submit()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>