<h1>
  {{applicationInstance ? 'Logs of ' + applicationInstance.name : ''}}
</h1>
<mat-table #table [dataSource]="componentNodeInstanceStatuses" id="logs">
  <ng-container matColumnDef="entity">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let componentNodeInstanceStatus">
      {{componentNodeInstanceStatus.dateCreated.toString().slice(0, 19).replace('T', ' ')}}&nbsp;
      <span [ngStyle]="{color: statusToColorMap[componentNodeInstanceStatus.status]}">[{{componentNodeInstanceStatus.status}}]</span>:
      {{componentNodeInstanceStatus.componentNodeInstanceName}} - 
      {{componentNodeInstanceStatus.message}}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>