<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Add Application Component</h1>
    <mat-dialog-content>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <br>
        <div class="col-md-6"> 
          <mat-form-field>
            <input matInput formControlName="componentName" placeholder="Component Name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="architecture" placeholder="Select Architecture">
              <mat-option *ngFor="let architecture of architectureList" [value]="architecture">
                {{architecture.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="elastProfile" placeholder="Select Elasticity Profile">
              <mat-option *ngFor="let elastProf of elasticityProfileList" [value]="elastProf">
                {{elastProf.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <mat-checkbox formControlName="publicComponent" labelPosition='before'>Public Component</mat-checkbox>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
        <div class="col-md-6"> 
          <mat-form-field>
            <input matInput formControlName="dockerRegistry" placeholder="Docker Registry">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="dockerImage" placeholder="Docker Image">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="vCPUs" placeholder="vCPU">
          </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="ram" placeholder="RAM">
          </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="storage" placeholder="Storage">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="hyperVisorType" placeholder="Select Hypervisor Type">
              <mat-option *ngFor="let hyper of hyperVisorList" [value]="hyper">
                {{hyper.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <mat-checkbox formControlName="gpuEnabled" labelPosition='before'>GPU-enabled</mat-checkbox>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="healthCommand" placeholder="Command">
          </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="healthHttp" placeholder="HTTP">
          </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="healthTimeInterval" placeholder="Time Interval">
          </mat-form-field>
        </div>
      </div>
      <br>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button type="submit">Add</button>
      <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
