.full-width {
    width: 75%;
    margin-left: 20px;
}
.right-button {
    position: absolute;
    right: 24px;
    margin-top: 10px;
    margin-right: 50px;
}

.save-config {
    margin-top: -10px;
    position: absolute;
    right: 1px;
}

.mat-stroked-button{
    border-color: #43425D;
    color: #43425D;
}

.mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unicorn-snackbar{
    background-color: #43425D;
}