<h2>Create a new instance</h2>
<form [formGroup]="instanceForm">
<mat-form-field class="full-width">
  <input matInput formControlName="instanceName" placeholder="Enter name of instance">
</mat-form-field>
<button mat-stroked-button class="right-button" (click)=saveInstance()>
  Save
</button>
</form>
<br>

<!-- list all component nodes -->
<mat-table  #table [dataSource]="dataSource">
  <ng-container matColumnDef="hexID">
    <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
    <mat-cell *matCellDef="let comp"> {{comp.hexID}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Component Name</mat-header-cell>
    <mat-cell *matCellDef="let comp"> {{comp.name}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
            matRipple
            class="element-row">
  </mat-row>
</mat-table>
<br>
<!-- cards for configuration -->
<div *ngFor="let comp of compNodesList">
  <mat-card *ngIf=seeConfig>
    <mat-card-header>
        <h4>{{comp.name}}</h4>
    </mat-card-header>
    <mat-card-content>
      <!-- general information -->
      <form [formGroup]="configForm">
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
        <div class="col-md-4"> 
          <mat-form-field style="margin-top: 10px">
            <input matInput formControlName="sshKey" placeholder="SSH Key" value={{comp.name}}>
        </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="margin-top: 10px">
            <input matInput formControlName="provider" placeholder="Provider" value="Provider">
        </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field style="margin-top: 10px">
            <input matInput formControlName="region" placeholder="Region" value="Region">
        </mat-form-field>
        </div>
      </div>
      <br>
      <!-- ids -->
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-3" style="margin-top: 5px">
          <mat-checkbox formControlName="activeIDS" labelPosition='before'>Activate IDS</mat-checkbox>
        </div>
      </div>
      <br>
      <!-- ips -->
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-3" style="margin-top: 20px">
          <mat-checkbox formControlName="activeIPS" labelPosition='before'>Activate IPS</mat-checkbox><br>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <mat-select formControlName="ipsRule" placeholder="Choose" multiple>
              <mat-option *ngFor="let ipsrule of ipsList" [value]="ipsrule">
                {{ipsrule.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
      <br>
        <div class="col-md-6"> 
          <mat-form-field style="margin-top: 10px">
            <input matInput formControlName="minWorker" placeholder="Minimum Workers" value="1">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="margin-top: 10px">
            <input matInput formControlName="maxWorker" placeholder="Maximum Workers" value="4">
        </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-12" style="margin-top: 10px"> 
          <h6 >Health Check</h6>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="http" placeholder="Http" value={{comp.name}}>
        </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput formControlName="healthCommand" placeholder="Command" value="command">
        </mat-form-field>
        </div>
        <div class="col-md-4"> 
          <mat-form-field>
            <input matInput formControlName="healthTimeInterval" placeholder="Time Interval" value="10s">
        </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-12" style="margin-top: 10px"> 
            <h6 >Overridable Parameter</h6>
        </div>
          <div class="col-md-12"> 
            <mat-form-field>
              <input matInput formControlName="overrideCommand" placeholder="Command" value={{comp.name}}>
          </mat-form-field>
          </div><br>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="interfaceName" placeholder="Interface Name" value="interface">
          </mat-form-field>
          </div>
          <div class="col-md-6"> 
            <mat-form-field>
              <input matInput formControlName="interfacePort" placeholder="Port" value="8080">
          </mat-form-field><br>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="environmentKey" placeholder="Environmental Key" value="key">
            </mat-form-field>
          </div>
          <div class="col-md-6"> 
            <mat-form-field>
              <input matInput formControlName="environmentValue" placeholder="Value" value="Value">
            </mat-form-field>
          </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-12" style="margin-top: 10px"> 
            <h6 >Plugins</h6>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <mat-select formControlName="plugins" placeholder="Choose Plugins" multiple>
              <mat-option *ngFor="let plug of pluginList" [value]="plug">
                {{plug.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-12" style="margin-top: 10px"> 
          <h6 >Volumes</h6>
        </div>
        <div class="col-md-12"> 
          <p>There are no volumes available.</p>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px solid #43425D; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-12" style="margin-top: 10px"> 
            <h6 >Devices</h6>
        </div>
        <div class="col-md-12" style="margin-top: 10px"> 
          <p>There are no volumes available.</p>
        </div>
      </div>
      <br>
      <div class="row" style="margin-left: 10px; margin-right: 10px">
        <div class="col-md-5">
          <p></p>
        </div>
        <div class="col-md-2" > 
          <button mat-stroked-button (click)="saveComponentConfiguration(configForm)">
            Save
          </button>
        </div>
        <div class="col-md-5">
            <p></p>
          </div>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
  <br>
</div>