<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add new rule</h1>
  <mat-dialog-content>
    <mat-form-field class="input-full-width">
      <input matInput formControlName="name" placeholder="Enter rule">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit">Add</button>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>